body, html {
    margin: 0;
    padding: 0;
} /*pour enlever le padding auto horizonatl*/
@media screen and (max-width: 500px){
    body, html {
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
}
h1{
    color: black;
    font-style: inherit;
    /*font-size: 150px;*/
    font-size: 800%; /*pour rendre plus responsive*/
    font-family: Impact, 'Anton', sans-serif;
}
@media screen and (max-width: 500px){
    h1{
        color: black;
        font-style: inherit;
        font-size: 300%;
        font-family: 'Anton', sans-serif;
    } 
}
h2{
color: blue;
}
.horizontal_align_container {
    display: flex;
}

.box3{
margin-top: 0;
background-color: black;
width: 100%; 
height: 100px;

}
.box3 p {
    margin: 0; /* Supprimer la marge autour du paragraphe (enlève la bordure au-dessus du rectangle noir) */
    color: white;
}

.container img {
    /*width: 200px;*/
    width: 15%;
    height: auto;
    display: block; /* il faut que les deeux containers suivant aient le même nom pour aussi modif l'image*/
}
@media screen and (max-width: 500px){
    .container img {
        width: 20%;
        height: auto;
        display: block; /* il faut que les deeux containers suivant aient le même nom pour aussi modif l'image*/
    }
}
.container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

input[type="text"] {
    width: 33.5%; /* Largeur du champ de texte */
    padding: 10px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    border: 2px solid black; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    outline: none; /* Supprimer la bordure de focus */
    background-color: #f6f6f6;
    margin-bottom: 10px;
}
@media screen and (max-width: 500px){
    input[type="text"] {
        width: 80%; /* Largeur du champ de texte */
        padding: 10px; /* Espacement interne */
        font-size: 16px; /* Taille de la police */
        border: 2px solid black; /* Bordure */
        border-radius: 10px; /* Coins arrondis */
        outline: none; /* Supprimer la bordure de focus */
        background-color: #f6f6f6;
        margin-bottom: 10px;
    }
}
input[type="password"] {
    width: 33.5%; /* Largeur du champ de texte */
    padding: 10px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    border: 2px solid black; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    outline: none; /* Supprimer la bordure de focus */
    background-color: #f6f6f6;
    margin-bottom: 10px; 
}
@media screen and (max-width: 500px){
    input[type="password"] {
        width: 80%; /* Largeur du champ de texte */
        padding: 10px; /* Espacement interne */
        font-size: 16px; /* Taille de la police */
        border: 2px solid black; /* Bordure */
        border-radius: 10px; /* Coins arrondis */
        outline: none; /* Supprimer la bordure de focus */
        background-color: #f6f6f6;
        margin-bottom: 10px; 
    }
}
.center_text_container{
    display: flex;
    justify-content: center; /* Centre horizontalement */
}
.custom_button {
    background-color: black; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Supprime la bordure */
    border-radius: 10px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur de souris en forme de main */
    text-decoration: none; /* Supprime les soulignements */
    font-family: Arial, sans-serif; /* Police de caractères */
    
}
/* Changement de couleur au survol */
.custom_button:hover {
    color: rgb(220, 76, 136); /* Nouvelle couleur du texte du lien au survol */
}
.custom_link {
    color: black; /* Couleur du texte du lien */
    text-decoration: none; /* Supprime les soulignements */
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

/* Changement de couleur au survol */
.custom_link:hover {
    color: rgb(220, 76, 136); /* Nouvelle couleur du texte du lien au survol */
}
h4{
    color: black; /* Couleur du texte du lien */
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: lighter;
}
.centrage_groupe_element{
    height: 100vh;
}
.icon_trailing {
    margin-top: 16px;
    margin-left: 88%;
}
.home_position{
    padding-left: 88%;
}

.box4{
    margin-top: 0;
    background-color: pink;
    width: 88%; /*occupe toute la largeur de l'écran*/
    height: 300px;
    margin-top: 5px;
    margin-left: auto; /*pour que le décalage se fasse vers la gauche*/
    
}
.box5{
    margin-top: 0;
    background-color: green;
    width: 700px; /*occupe toute la largeur de l'écran*/
    height: 700px;
    margin-top: 5px;
    margin-left: 175px;    
}


.csv-row {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 14px;
}





